.price-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 16px;
}

.price-row:last-child {
  border-bottom: none;
}

.price-changed-up {
  color: var(--mantine-color-green-text);
}

.price-changed-down {
  color: var(--mantine-color-red-text);
}

.symbol {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.icon {
  margin-right: 10px;
}

.rate {
  margin-left: auto;
  text-align: right;
  word-break: break-word;
}